<header>
  <div align="center">
      <img class="img-fluid" src="assets/logo.png" alt="logo">
  </div>
  <hr class="hr">
  <div align="center">
      <img class="img-fluid" src="assets/lake.jpg" alt="lake">
  </div>
</header>
<div class="container">
  <form (submit)="goToLogin()">
      <div class="card loginCard" align="center">
          <h2 class="greyText" style="margin-top:1em">User Login</h2>
          <span class="yellowText">{{email}}</span>
          <div class="card-body">
              <hr class="boxHr">
              <ul style="list-style-type:none">
                  <li>
                      <p class="yellowText">
                          {{username}}
                      </p>
                  </li>
                  <li>
                      <p>Your password has been successfully changed.</p>
                  </li>
                  <li>
                      <button class="loginButton" type="submit">Confirm</button>
                  </li>
              </ul>
          </div>
      </div>
  </form>
</div>
<footer>
  <p>© 2012-17 City of Maryville All Rights Reserved 25055 Liberty Road, Maryville, MO 64468</p>
</footer>