<header class="ems-header">
  
  <!-- Navbar -->
  <div class="topnav" id="myTopnav">
      <a [routerLink]="['/home']">Home</a>
      <a [routerLink]="['/events']">Events</a>
      <a [routerLink]="['/employee']">Employee</a>  
      <a [routerLink]="['/home']" class="logo_section"><img class="img-fluid" src="assets/logo.png" alt="logo"></a>
      <a [routerLink]="['/attendance']">Attendance</a>
      <a [routerLink]="['/profile']">Profile</a>
      <a (click)="onLogoutClick()">Log Out</a>
  </div>
  <!-- Navbar END -->
  
</header>