<header class="ems-header">
  <!-- Navbar -->
  <div class="topnav" id="myTopnav">
      <a href="#home">Home</a>
      <a href="#Evetns">Events</a>
      <a href="#Employee">Employee</a>  
      <a class="logo_section"><img class="img-fluid" src="assets/logo.png" alt="logo"></a>
      <a href="#Attendance">Attendance</a>
      <a href="#Profile">Profile</a>
      <a href="#">Log Out</a>
      <!-- <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="myFunction()">&#9776;</a> -->
  </div>
  <!-- Navbar END -->
  
</header>