.ems-event-left {
    background:darkgreen; 
    color:ghostwhite; 
    text-align: left;
    width: 22%;
    padding-left: 15px;
}

.ems-event-left h3 {
    cursor: pointer;
    /* margin-left: 15px; */
}

.ems-event-left h3:hover {
    opacity: 0.5;
}

.ems-event-medium {
    width: 60%;
}

.ems-event-right {
    width: 18%;
}