<app-ems-header></app-ems-header>
<div class="container-fluid" align="center">
    <div class="row" style="clear: both;">
        <div class="ems-event-left">
            <br>
            <h3 [routerLink]="['/new_event']">+ New Event</h3>
            <p>More Calendar view</p>
        </div>
        <div class="ems-event-medium">
            <iframe src="https://calendar.google.com/calendar/embed?src=vishaldchilka%40gmail.com&ctz=Asia%2FCalcutta" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
            <!-- <iframe src="https://calendar.google.com/calendar/embed?src=applepopov803%40gmail.com&ctz=Asia%2FVladivostok" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe> -->
        </div>
        <div style="border: 2px solid transparent; border-color:darkgreen" class="ems-event-right">
            <h3>Upcoming Events</h3>
        </div>
    </div>
</div>
<footer>
    <p>© 2012-17 City of Maryville All Rights Reserved 25055 Liberty Road, Maryville, MO 64468</p>
</footer>