div.profile_info_element label,
div.profile_info_element p,
div.profile_info_element input {
    display: inline-block;
}

/* input + span {
    padding-right: 30px;
}

input:invalid+span:after {
    position: absolute; content: '✖';
    padding-left: 5px;
    color: #8b0000;
}

input:valid+span:after {
    position: absolute;
    content: '✓';
    padding-left: 5px;
    color: #009000;
} */