<app-header></app-header>
<div>
  <div class="row">
    <div class="col-lg-6 col-md-6">
        <h3><font color="#A0522D"> Admin Panel </font></h3>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-1 col-md-1">
        <div class="form-group">
          <label></label>
        </div>
    </div>
    <div class="col-lg-2 col-md-2">
        <div class="form-group">
          <label><input type="radio" /> <font color="#A0522D"> Active </font> </label>
        </div>
    </div>
    <div class="col-lg-2 col-md-2">
        <div class="form-group">
          <label><input type="radio" /> <font color="#A0522D"> In Active </font> </label>
        </div>
    </div>
    <div class="col-lg-4 col-md-4">
        <div class="form-group">
          <label></label>
        </div>
    </div>
    <div class="col-lg-3 col-md-3">
        <div class="form-group">
          <button class="btn btn-default">
          Add User
          </button>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-3 col-md-3">
        <div class="input-group">
          <input class="form-control"
              placeholder="Search...">
          <div class="input-group-addon" ><i class="fa fa-search"></i></div>
        </div>
    </div>
    <div class="col-lg-8 col-md-8">
        <div class="form-group">
          <label><input type="checkbox" /> &nbsp; &nbsp; Employee Management (EM)</label> &nbsp; &nbsp;
          <label><input type="checkbox" /> &nbsp; &nbsp; Beverage Inventory (BI) </label> &nbsp; &nbsp;
          <label><input type="checkbox" /> &nbsp; &nbsp; Room Management (RM) </label>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-3 col-md-3"></div>
    <div class="col-lg-8 col-md-8">
        <div class="form-group">
          <label><input type="checkbox" /> &nbsp; &nbsp; Supply Management (SM)</label> &nbsp; &nbsp;
          <label><input type="checkbox" /> &nbsp; &nbsp; Super (S) </label> &nbsp; &nbsp;
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
        <label></label>
    </div>
    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
        <table class="table">
          <thead color="Black">
              <tr>
                <th>First Name</th>
                &nbsp; &nbsp;
                <th>Last Name</th>
                <th>User Name</th>
                <th colspan="5">Permissions</th>
                <th></th>
              </tr>
              <tr class="border:none">
                <th></th>
                <th></th>
                <th></th>
                <th>EM</th>
                <th>BI</th>
                <th>RM</th>
                <th>SM</th>
                <th>S</th>
              </tr>
          </thead>
          <tbody>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td><input type="checkbox" /></td>
                <td><input type="checkbox" /></td>
                <td><input type="checkbox" /></td>
                <td><input type="checkbox" /></td>
                <td><input type="checkbox" /></td>
                <td><button type="button" class="btn btn-brown">Inactive</button></td>
              </tr>
          </tbody>
        </table>
    </div>
    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
        <label></label>
    </div>
  </div>
</div>