<header>
    <div align="center">
        <img class="img-fluid" src="assets/logo.png" alt="logo">
    </div>
    <hr class="hr">
    <div align="center">
        <img class="img-fluid" src="assets/lake.jpg" alt="lake">
    </div>
</header>
<div class="container">
    <form (submit) = "onSendVerificationLink()">
        <div class="card loginCard" align="center">
            <h2 class="greyText" style="margin-top:1em">Forgot Password</h2>
            <div class="card-body">
                <ul style="list-style-type:none">
                    <li>
                        <label for="username">
                            <b class="yellowText">User ID</b>
                        </label>
                        <input type="text" placeholder="Enter Username" name="username" [(ngModel)] = "username" required>
                    </li>
                    <li><flash-messages></flash-messages></li>
                    <li>
                        <button class="loginButton" type="submit">Send Verification Link</button>
                    </li>
                </ul>
            </div>
        </div>
    </form>
</div>
<footer>
    <p>© 2012-17 City of Maryville All Rights Reserved 25055 Liberty Road, Maryville, MO 64468</p>
</footer>