<app-header></app-header>
<div>
  <div class="container">
      <div class="row">
      <div class="col-lg-6 col-md-6">
            <label>Change Password</label>
      </div>
      </div>
      <form>
        <div class="row">
            <div class="col-lg-1 col-md-1">
            <div class="form-group">
                  <label> </label>	
            </div>
            </div>
            <div class="col-lg-4 col-md-4">
            <div class="form-group">
                  <label> <font color="#A0522D">User Name: </font> </label>
                  &nbsp; &nbsp; {{ username }}
            </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4">
            <div class="form-group">
                  <label><font color="#A0522D">Old Password:</font> </label>
                  <input (input)="onOldPwdChange($event.target.value)" type="password" class="form-control" placeholder="Please enter your old password" required>
            </div>
            </div>
        </div>
        <div *ngIf="oldpwdF" class="row">
            <div class="col-lg-4 col-md-4">
            <div class="form-group">
                  <label><font color="#A0522D">New Password:</font> </label>
                  <input type="password" [(ngModel)]="new_password" name="new_password" class="form-control" placeholder="Please enter your new password">
            </div>
            </div>
        </div>
        <div *ngIf="oldpwdF" class="row">
            <div class="col-lg-4 col-md-4">
            <div class="form-group">
                  <label><font color="#A0522D">Confirm Password:</font> </label>
                  <input (input)="onCnfPwdChange($event.target.value)" type="password" class="form-control" placeholder="Re-enter your new password">
            </div>
            </div>
            <div class="col-lg-4 col-md-4">
            <div class="form-group">
                  <label for="form_cnfrmpswdmatch"><font color="#A0522D"> Password Match:</font> </label>
                  <br>
                  &nbsp; {{ pwdMatchValue }}
            </div>
            </div>
        </div>
      </form>
      <flash-messages></flash-messages>
  </div>
  <div class="row">
      <div class="col-lg-3 col-md-3">
            <label> </label>
      </div>
      <div class="col-lg-3 col-md-3">
            <button *ngIf="pwdMatchF" class="btn btn-brown" data-toggle="modal" data-target="#mysaveModal">Update</button>
            <button *ngIf="pwdMatchF" class="btn btn-brown" data-toggle="modal" data-target="#mycancelModal">Cancel</button>
      </div>
  </div>

  <div class="modal fade" id="mycancelModal" role="dialog">
      <div class="modal-dialog">
      <div class="modal-content">
            <div class="modal-header">
            <h4 class="modal-title">Cancel</h4>
            </div>
            <div class="modal-body">
            <p>Are you sure you want to cancel ?</p>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Yes</button>
            &nbsp;
            &nbsp;
            <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
            </div>
      </div>
      </div>
  </div>
  <div class="modal fade" id="mysaveModal" role="dialog">
      <div class="modal-dialog">
      <div class="modal-content">
            <div class="modal-header">
            <h4 class="modal-title">Update</h4>
            </div>
            <div class="modal-body">
            <p>Do you want to save the password?</p>
            </div>
            <div class="modal-footer">
            <button (click)="changePwd()" type="button" data-dismiss="modal" class="btn btn-default">Yes</button>
            &nbsp;
            &nbsp;
            <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
            </div>
      </div>
      </div>
  </div>
  <div class="modal fade" id="pswdsaveModal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
            <div class="modal-header">
            <h4 class="modal-title">Update</h4>
            </div>
            <div class="modal-body">
            <p>Password has been changed successfully !!</p>
            </div>
            <div class="modal-footer">
            &nbsp;
            &nbsp;
            <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
            </div>
      </div>
    </div>
  </div>
</div>